@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Press Start 2P', cursive;
}

.linear-bg {
  background: linear-gradient(135deg, #1B2874 30%, #324E84);
}

.starry-bg {
  background-image: url(../imgs/starry-bg.png);
  background-size: 70%;
}